<!--/*@thymesVar id="project" type="net.gb.knox.portfolio.domain.Project"*/-->
<div th:fragment="projectCardFragment(project)" class="bg-zinc-800 p-10 rounded-sm w-full grid grid-cols-2">
    <h1 class="text-3xl font-bold mb-4 text-zinc-100 col-start-1" th:text="${project.name()}"></h1>
    <p class="text-md text-zinc-300 col-start-1" th:text="${project.description()}">
        A REST API for reminders.
    </p>
    <a class="flex space-x-2 col-start-2 row-start-2 w-full cursor-pointer items-end justify-end text-orange-600 hover:text-orange-500" th:href="${project.url()}">
        <p class="text-md" >View on GitHub</p>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
        </svg>
    </a>
</div>