<!DOCTYPE html>
<html lang="en">
    <div th:replace="~{fragments/head :: headFragment(title = 'Oliver Knox - Experience')}"></div>
    <body class="bg-white text-zinc-900">
        <div th:replace="~{fragments/header :: headerFragment(currentPage=${currentPage.name()})}"></div>

        <!-- Hero Section -->
        <section class="bg-orange-600 flex text-zinc-100 justify-center items-center h-96">
            <div class="container mx-auto text-center">
                <h1 class="text-5xl font-bold mb-4">Experience</h1>
                <p class="text-lg mb-8">The path so far.</p>
                <a href="#content" class="py-2 px-4 text-zinc-900 rounded bg-white hover:text-orange-600">Learn more</a>
            </div>
        </section>

        <!-- Content Section -->
        <section id="content" class="max-w-7xl mx-auto flex flex-col space-y-8 px-4 py-16">
            <div class="flex flex-col space-y-4 bg-zinc-50 p-8 rounded-sm border-b-4 border-orange-600">
                <h1 class="text-3xl font-bold">Interactive Investor</h1>
                <h2 class="text-2xl">App Developer</h2>
                <h3 class="text-lg font-bold">Mar 2024 - Present</h3>
                <ul class="text-md space-y-4">
                    <li>Played a key role in the development of an innovative investment service application, designed to streamline and enhance users’ investment management.</li>
                    <li>Contributed to various stages of the project, including solution design, project planning, stakeholder meetings, implementation and maintenance.</li>
                    <li>Collaborated with cross-functional teams to ensure the app delivered a seamless and secure experience, integrating advanced features such as  open banking transactions, real-time analytics, and cross-platform integration.</li>
                    <li>Focused on optimizing performance and scalability to meet the needs of a growing user base, ultimately delivering a robust application that supports informed investment decisions and drives user engagement.</li>
                </ul>
            </div>
            <div class="flex flex-col space-y-4 bg-zinc-50 p-8 rounded-sm border-b-4 border-orange-600">
                <h1 class="text-3xl font-bold">Gamma Labs</h1>
                <h2 class="text-2xl">Software Engineer</h2>
                <h3 class="text-lg font-bold">Sep 2022 - Jan 2024</h3>
                <ul class="text-md space-y-4">
                    <li>Contributed to the development of a React-based UCaaS application, enhancing backend services to support PSTN, video calling, and chat functionalities for end users.</li>
                    <li>Addressed and resolved production issues, optimized deployments, and managed CI/CD pipelines for front-end repositories, ensuring smooth integration with backend systems.</li>
                    <li>Maintained and improved the performance of two existing telecommunications applications, managing client and server-side logic to efficiently handle thousands of users across Europe.</li>
                    <li>Played a crucial role in the delivery of a real-time presence tracking system to provide seamless visibility into user availability and engagement.</li>
                </ul>
            </div>
            <div class="flex flex-col space-y-4 bg-zinc-50 p-8 rounded-sm border-b-4 border-orange-600">
                <h1 class="text-3xl font-bold">Evidential</h1>
                <h2 class="text-2xl">Apprentice Software Engineer</h2>
                <span class="text-lg font-bold">Jul 2018 - Jul 2022</span>
                <ul class="text-md space-y-4">
                    <li>Developed secure and scalable microservices using Node.js, collaborating closely with senior engineers to deploy solutions on cloud infrastructure, enhancing system performance and reliability.</li>
                    <li>Engineered web and desktop applications utilizing React, Stencil, and Electron, significantly contributing to the efficient delivery of evidence in crown court proceedings across the UK.</li>
                    <li>Spearheaded the development of a hybrid application for web and mobile platforms, leveraging cutting-edge technologies such as Ionic and Capacitor to ensure cross-platform compatibility.</li>
                    <li>Successfully balanced professional responsibilities with academic commitments as part of a degree apprenticeship, achieving a first-class degree while contributing to real-world projects and gaining invaluable industry experience.</li>
                </ul>
            </div>
        </section>

        <div th:replace="~{fragments/footer :: footerFragment()}"></div>
    </body>
</html>
