<!DOCTYPE html>
<html lang="en">
    <div th:replace="fragments/head :: headFragment(title = 'Oliver Knox')"></div>
    <body class="bg-zinc-900">
        <div th:replace="fragments/header :: headerFragment(currentPage=${currentPage.name()})"></div>

        <!-- Hero Section -->
        <section class="bg-orange-700 text-zinc-100 flex justify-center items-center h-96">
            <div class="container mx-auto text-center">
                <h1 class="text-5xl font-bold mb-4">A Software Engineer</h1>
                <p class="text-lg mb-8">Building scalable web services and distributed systems.</p>
                <a href="#" class="py-2 px-4 bg-zinc-900 text-zinc-100 rounded hover:bg-zinc-800">Learn more</a>
            </div>
        </section>

        <!-- Content Section -->
        <section class="py-20 px-10 flex flex-col space-y-10" >
            <div th:each="tenant : ${tenants}">
                <div th:replace="fragments/tenant :: tenantFragment(tenant=${tenant})"></div>
            </div>
        </section>

        <footer class="bg-orange-700 text-zinc-100 flex justify-center items-center h-16"></footer>

        <script>
            // Toggle mobile menu
            const button = document.getElementById('mobile-menu-button');
            const menu = document.getElementById('mobile-menu');

            button.addEventListener('click', () => {
                menu.classList.toggle('hidden');
            });
        </script>
    </body>
</html>
