<!DOCTYPE html>
<html lang="en">
    <div th:replace="~{fragments/head :: headFragment(title = 'Oliver Knox')}"></div>
    <body class="bg-white text-zinc-900">
        <div th:replace="~{fragments/header :: headerFragment(currentPage=${currentPage.name()})}"></div>

        <!-- Hero Section -->
        <section class="bg-orange-600 flex text-zinc-100 justify-center items-center h-96">
            <div class="container mx-auto text-center">
                <h1 class="text-5xl font-bold mb-4">A Software Engineer</h1>
                <p class="text-lg mb-8">Building scalable web services and distributed systems.</p>
                <a href="#content" class="py-2 px-4 text-zinc-900 rounded bg-white hover:text-orange-600">Learn more</a>
            </div>
        </section>

        <!-- Content Section -->
        <section id="content" class="max-w-7xl mx-auto flex flex-col space-y-4 px-4 py-8" >
            <div class="flex flex-col md:flex-row items-center space-x-4 space-y-4">
                <img src="/images/software.svg" alt="A man with a software system" height="300" width="300" />
                <div class="flex flex-col space-y-4">
                    <h1 class="text-3xl font-bold">Software design and architecture</h1>
                    <p class="text-md">
                        Software design and architecture are foundational to creating scalable, maintainable, and robust systems.
                        My experience as a Software Engineer has shown me the importance of well-thought-out architecture in ensuring long-term success.
                        By focusing on clean design principles and architectural patterns, I have helped build solutions that are not only efficient but also adaptable to changing requirements.
                    </p>
                </div>
            </div>

            <div class="flex flex-col md:flex-row items-center space-x-4 space-y-4">
                <img src="/images/communication.svg" alt="Employees of a company communicating with each other" height="300" width="300" />
                <div class="flex flex-col space-y-4">
                    <h1 class="text-3xl font-bold">Communication and documentation</h1>
                    <p class="text-md">
                        Effective communication and thorough documentation are critical for aligning teams and ensuring continuity in software projects.
                        In my role as a Software Engineer, I have consistently prioritized clear communication to bridge gaps between technical and non-technical stakeholders.
                        And by creating comprehensive documentation, I have made it easier for colleagues to navigate and collaborate on shared codebases.
                    </p>
                </div>
            </div>

            <div class="flex flex-col md:flex-row items-center space-x-4 space-y-4">
                <img src="/images/observability.svg" alt="Two people monitoring a cloud system" height="300" width="300" />
                <div class="flex flex-col space-y-4">
                    <h1 class="text-3xl font-bold">Observability and monitoring</h1>
                    <p class="text-md">
                        Observability and monitoring are essential for maintaining the health and performance of software systems.
                        Throughout my career, I have implemented robust monitoring solutions that provide real-time insights, enabling proactive issue resolution and system optimization.
                        Treating observability as a necessity is crucial, because it helps ensure that systems are resilient and capable of meeting the demands of users, ultimately driving higher reliability and user satisfaction.
                    </p>
                </div>
            </div>

            <div class="flex flex-col md:flex-row items-center space-x-4 space-y-4">
                <img src="/images/teamwork.svg" alt="A group of people collaborating" height="300" width="300" />
                <div class="flex flex-col space-y-4">
                    <h1 class="text-3xl font-bold">Teamwork and collaboration</h1>
                    <p class="text-md">
                        Teamwork and collaboration are vital for effective software development.
                        By embracing diverse perspectives and fostering open communication, a team can feel free to drive innovation and solve problems more efficiently.
                        I have worked on many teams as a Software Engineer, and it has been clear to me that strong teamwork is key to continuous improvement and achieving shared goals.
                    </p>
                </div>
            </div>
        </section>

        <footer class="bg-orange-600 text-zinc-100 flex justify-center h-16">
            <div class="max-w-7xl flex justify-between items-center flex-grow px-4">
                <span class="font-bold">Oliver Knox</span>
                <p>Copyright © 2024</p>
            </div>
        </footer>

    </body>
</html>
